<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print"/>
    <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/side.js" type="text/javascript"></script>
</head>

<body>
<!-- MainForm -->
<div id="MainForm">
    <div class="form_boxA">
        <h2>角色列表</h2>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>序号</th>
                <th>角色名称</th>
                <th>操作</th>
            </tr>
            {% for role in roles%}
            <tr>
                <td>{{role.r_id}}</td>
                <td>{{role.r_name}}</td>
                <td>
                    <a href="/delroles/?r_id={{role.r_id}}" onClick="delcfm()">删除角色</a> |
                    <a href="/addroleper/?r_id={{role.r_id}}">添加权限 </a> |
                    <a href="/subroleper/?r_id={{role.r_id}}">减少权限 </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- 分页 -->
    {% from 'mymacro.html' import my_render_pagination %}
    {{ my_render_pagination(paginate,'/roles/?1=1') }}

</div>

</body>