<!DOCTYPE HTML>
<head>
    <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print"/>
    <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/side.js" type="text/javascript"></script>
</head>

<body>
<!-- Popup -->
<div id="Popup">

    <!-- SubPopup -->
    <div id="SubPopup">
        <div class="form_boxC">

            <form action="" method="post">
                <table>
                    <tr>
                        <th>用户名 <span class="f_cB">*</span></th>
                        <td>
                            <div class="txtbox floatL" style="width:100px;">
                                <input name="username" type="text" size="5" value="">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>密码 <span class="f_cB">*</span></th>
                        <td><!-- selectbox -->
                            <div class="txtbox floatL" style="width:200px;">
                                <input name="password1" type="password">
                            </div>
                            <!-- /selectbox --></td>
                    </tr>

                    <tr>
                        <th>确认密码 <span class="f_cB">*</span></th>
                        <td><!-- selectbox -->
                            <div class="txtbox floatL" style="width:200px;">
                                <input name="password2" type="password">
                            </div>
                            <!-- /selectbox --></td>
                    </tr>

                </table>
                 <p style="color: red">{{msg}}</p>
                <div id="BtmBtn">
                    <div class="btn_box floatR"><input name="" type="submit" value="提交"></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
