<!DOCTYPE HTML>
<head>
    <title></title>
    <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print"/>
    <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/side.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
</head>

<body>


<!-- MainForm -->
<div id="MainForm">
    <div class="form_boxA">
        <h2>{{ grade.g_name }} 班  学生信息列表</h2>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>序号</th>
                <th>学生姓名</th>
                <th>操作</th>
            </tr>
            {% for stu in stus%}
            <tr>
                <td>{{stu.s_id}}</td>
                <td>{{stu.s_name}}</td>
                <td><a href="/del_std_from_grade/?s_id={{ stu.s_id }}&g_id={{ g_id }}"  onClick="delcfm()">移除</a></td>
            </tr>
            {% endfor %}
        </table>
        <p class="msg">共找到{{paginate.total}}条匹配记录</p>
    </div>
    <!-- 分页 -->
    {% from 'mymacro.html' import my_render_pagination %}
    {{ my_render_pagination(paginate,'/grade_student/'+g_id+'/?1=1') }}

</div>

</body>