- 宏定义
{% macro my_render_pagination(paginate, url) %}
<!-- 分页 -->
    <ul id="PageNum">

        <li><a href="{{ url }}&page=1">首页</a></li>
        {% if paginate.has_prev %}
            <li><a href="{{ url }}&page={{ paginate.prev_num }}">上一页</a></li>
        {% endif %}

        {% for p  in paginate.iter_pages() %}
            <li>
                {% if p %}
                    {% if p != paginate.page %}
                    <a href="{{ url }}&page={{ p }}">{{ p }}</a>
                    {% else %}
                    <span> {{ p }} </span>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            </li>
        {% endfor  %}

        {% if paginate.has_next %}
            <li><a href="{{ url }}&page={{ paginate.next_num }}">下一页</a></li>
        {% endif %}
            <li><a href="{{ url }}&page={{ paginate.pages }}">尾页</a></li>
        <span>| 共{{paginate.pages}}页 | 当前第{{paginate.page}}页</span>
    </ul>
{% endmacro %}